.title {
font-size: 3vw;
}

.res {
width : 100%;
}

.table {
width : 100%;
}

.chambers {
width : 100%;
}

.histograms {
width : 100%;
}

.message {
width : 100%;
height : 100%;
}

.splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 3;
}
.splitscreen .right {
    flex: 2;
}
